html,
body {
  margin: 8px;
  padding: 8px;
}

h1,
h3,
#init{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  padding: 10px;
}

#core-inner{
  max-width: 85%;
  margin: 10px;
  border-style: solid;
}